<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mybank"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.mybank.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.mybank.BookingActivity"
            android:label="@string/title_activity_booking" >
        </activity>
        <activity
            android:name="com.example.mybank.SettingsMainActivity"
            android:label="@string/title_activity_settings_main" >
        </activity>
        <activity
            android:name="com.example.mybank.Settings_profil_Activity"
            android:label="@string/title_activity_settings_profil_" >
        </activity>
        <activity
            android:name="com.example.mybank.Settings_Notification_Activity"
            android:label="@string/title_activity_settings__notification_" >
        </activity>
        <activity
            android:name="com.example.mybank.Settings_Banking_Activity"
            android:label="@string/title_activity_settings__banking_" >
        </activity>
    </application>

</manifest>
